body {
    background-color: #addeff;
}

.my-center-h {
    margin: auto;
}

.my-center-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.my-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 400px) {
    .small-fs {
        font-size: 10px;
    }
}
  